@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table>
        <tr>
            <th>Brand</th>
            <th>Savings</th>
            <th>Description</th>
        </tr>

    </table>
    
</div>
