@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table>
        <tr>
            <th>Brand</th>
            <th>Savings</th>
            <th>Description</th>
        </tr>
        @foreach (var deal in Model.Deals())
        {
            <tr>
            <td>@deal.brand</td>
            <td>@deal.savings</td>
            <td>@deal.description</td>
            </tr>
        }
    </table>
    
</div>
